.interests .form {
  max-width: 32rem;
}

.interests_selection {
  display: flex;
  justify-content: space-between;
  margin: 1.2rem 0;
}

.interests_button {
  background: #FFF;
  border: 1px solid;
  padding: .4rem 1.1rem .3rem;
  border-radius: 1rem;
  text-transform: uppercase;
}

.interests_button.-politics {
  color: var(--tag-politics);
  border-color: var(--tag-politics);
}
.interests_button.-business {
  color: var(--tag-business);
  border-color: var(--tag-business);
}
.interests_button.-tech {
  color: var(--tag-tech);
  border-color: var(--tag-tech);
}
.interests_button.-science {
  color: var(--tag-science);
  border-color: var(--tag-science);
}
.interests_button.-sports {
  color: var(--tag-sports);
  border-color: var(--tag-sports);
}

.interests_button:hover,
.interests_button.selected {
  color: #FFF;
}

.interests_button.-politics:hover,
.interests_button.-politics.selected {
  background: var(--tag-politics);
}
.interests_button.-business:hover,
.interests_button.-business.selected {
  background: var(--tag-business);
}
.interests_button.-tech:hover,
.interests_button.-tech.selected {
  background: var(--tag-tech);
}
.interests_button.-science:hover,
.interests_button.-science.selected {
  background: var(--tag-science);
}
.interests_button.-sports:hover,
.interests_button.-sports.selected {
  background: var(--tag-sports);
}