.header {
  display: block;
  border-bottom: 1px solid #979797;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  max-width: var(--container-width);
  margin: var(--container-margin);
  padding: .4rem 2rem;
}

.header_title {
  display: contents;
}

.header_logo {
  width: auto;
  height: 100%;
  max-width: 100%;
}

@media (max-width: 749px) {
  .header_logo {
    margin: 0 auto;
  }

  .header_toggle_nav {
    position: absolute;
    background: unset;
    width: 1.8rem;
    height: 1.6rem;
  }

  .header_toggle_nav > span {
    position: relative;
  }

  .header_toggle_nav > span:before,
  .header_toggle_nav > span:after {
    content: '';
  }

  .header_toggle_nav > span:before {
    transform: translateY(.7rem)
  }

  .header_toggle_nav > span:after {
    transform: translateY(1.4rem)
  }

  .header_toggle_nav > span,
  .header_toggle_nav > span:before,
  .header_toggle_nav > span:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 4px solid var(--color-black);
  }
}

@media (min-width: 750px) {
  .header_toggle_nav {
    display: none;
  }
}