.navigation {
  display: flex;
}

.navigation_link {
  font-size: 1rem;
  text-transform: uppercase;
}

.navigation_link.-politics:hover,
.navigation_link.-politics.active {
  color: var(--tag-politics);
}
.navigation_link.-business:hover,
.navigation_link.-business.active {
  color: var(--tag-business);
}
.navigation_link.-tech:hover,
.navigation_link.-tech.active {
  color: var(--tag-tech);
}
.navigation_link.-science:hover,
.navigation_link.-science.active {
  color: var(--tag-science);
}
.navigation_link.-sports:hover,
.navigation_link.-sports.active {
  color: var(--tag-sports);
}

.navigation_link.-login {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color-primary);
}

.navigation_link.-login:hover,
.navigation_link.-login.active {
  color: var(--color-primary-darker);
}

@media (max-width: 749px) {
  .navigation {
    position: absolute;
    background: #FFF;
    flex-flow: column;
    top: calc(4rem + 1px);
    right: 100%;
    width: 100%;
    height: calc(100% - 4rem);
    padding: .5rem 0;
    z-index: 1;
    transition: all .3s linear;
    transform: translateX(0);
  }

  .navigation_link {
    padding: 1rem 2rem;
  }

  .navigation.-visible {
    transform: translateX(100%);
  }
}

@media (min-width: 750px) {
  .navigation {
    margin-left: auto;
  }

  .navigation_link + .navigation_link {
    margin-left: 2rem;
  }

  .navigation_link.-login {
    margin-left: 3.5rem;
  }
}