.grid {
  display: grid;
  grid-template-columns: 1fr;
  max-width: var(--container-width);
  margin: var(--container-margin);
  padding: 2rem;
}

.grid_top,
.grid_commom {
  position: relative;
  display: grid;
  grid-gap: 3rem 2rem;
}

.grid_error,
.grid_loading,
.grid_notfound {
  font-size: 2rem;
  padding: 4rem 0;
  line-height: initial;
}

.grid_loading:after {
  content: '';
  margin-left: .2rem;
  color: var(--color-primary);
  animation: dots 2s infinite;
}

.grid_notfound > strong {
  color: var(--color-primary);
}

@media (max-width: 749px) {
  .grid_top,
  .grid_commom {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 750px) {
  .grid_top .post:nth-child(1) .post_title {
    font-size: 1.75rem;
  }
}
@media (min-width: 750px) and (max-width: 1169px) {
  .grid_top,
  .grid_commom {
    grid-template-columns: 1fr 1fr;
  }
  .grid_top > .post:nth-child(1) {
    grid-column: 1 / 3;
  }
}
@media (max-width: 1169px) {
  .grid {
    grid-gap: 3rem;
  }
}

@media (min-width: 1170px) {
  .grid {
    grid-gap: 2rem;
  }
  .grid_top {
    grid-template-columns: 2fr 1fr 1fr;
  }
  .grid_commom {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid_top + .grid_commom {
    padding-top: 2rem;
    border-top: 1px solid #E6E6E6;
  }
}

@keyframes dots {
  0% {
    content: '.'
  }
  33% {
    content: '..'
  }
  66% {
    content: '...'
  }
  100% {
    content: '.'
  }
}