.post {
  display: flex;
  flex-flow: column;
}

.post_category {
  font-size: .7rem;
  text-transform: uppercase;
}

.post_category.-politics {
  color: var(--tag-politics);
}
.post_category.-business {
  color: var(--tag-business);
}
.post_category.-tech {
  color: var(--tag-tech);
}
.post_category.-science {
  color: var(--tag-science);
}
.post_category.-sports {
  color: var(--tag-sports);
}

.post_link {
  visibility: hidden;
  font-size: 1.1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 10rem;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  color: #FFF;
  border: 1px solid #FFF;
  padding: .8rem 2rem;
}

.post_picture {
  position: relative;
  margin-top: .5rem;
  cursor: pointer;
}

.post_picture:hover .post_link {
  visibility: visible;
}

.post_title {
  color: var(--color-black);
  font-size: 1.1rem;
  margin: .8rem 0;
}

.post_category + .post_title {
  margin-top: .3rem;
}

.post_author,
.post_text {
  font-family: 'Open Sans', var(--fonts);
}

.post_author {
  color: var(--color-grey-light);
  font-style: italic;
}

.post_text {
  color: var(--color-grey);
  line-height: 150%;
  margin-top: 1.2rem;
}