.form {
  display: grid;
  grid-gap: 1.4rem;
  margin: 0 auto;
}

.form_line {
  display: flex;
  flex-flow: column;
  text-align: left;
}

.form_label,
.form_submit,
.form_back {
  text-transform: uppercase;
}

.form_label + .form_field {
  margin-top: .6rem;
}

.form_field {
  font-size: 1rem;
  padding: .6rem;
  color: var(--color-grey-light);
  border: 1px solid var(--color-grey-lighter);
}

.form_field:hover {
  border: 1px solid var(--color-primary);
}

.form_field:focus {
  color: var(--color-grey);
  border: 1px solid var(--color-primary-darker);
}

.form_submit,
.form_back {
  padding: 1.1rem .6rem 1rem;
  font-size: 1rem;
  width: var(--block-mini);
  max-width: 100%;
  margin: 0 auto;
}

.form_submit {
  color: #FFF;
  background: var(--color-primary);
}

.form_submit:hover,
.form_submit:focus {
  background: var(--color-primary-darker);
}

.form_back {
  color: var(--color-primary);
}

.form_back:hover,
.form_back:focus {
  color: #FFF;
  background: var(--color-primary);
}