/* css variables */

#root {
  --color-color: #3E433E;
  --color-color-darker: #0B100B;
  --color-black: #000;
  --color-grey: #686868;
  --color-grey-light: #808080;
  --color-grey-lighter: #BFBFBF;
  --color-primary: #4A90E2;
  --color-primary-darker: #3177C9;
  --tag-politics: #D0021B;
  --tag-business: #BD10E0;
  --tag-tech: var(--color-primary);
  --tag-science: #7CBB37;
  --tag-sports: #F5A623;
  --fonts: 'Lato', Helvetica, sans-serif;
  --transition: all .2s ease-in-out;
  --container-width: 76rem;
  --container-margin: 0 auto;
  --block-mini: 15.15rem;
}

/* css reset */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  border: 0 none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  font-weight: 400;
  line-height: initial;
}

a {
  color: inherit;
  text-decoration: none;
  user-select: none;
}

button {
  border: 0;
}

a,
button {
  cursor: pointer;
  transition: var(--transition);
}

a,
button,
input,
label {
  font-size: inherit;
}

a,
button,
input {
  outline: 0 none;
}

button,
input {
  border-radius: 0;
}

input {
  width: 100%;
}

img {
  max-height: 100%;
  width: 100%;
}