.user_page {
  padding: 4rem 2rem;
  text-align: center;
}

.user_page_title {
  font-size: 1.5rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
}

.user_name {
  color: var(--color-primary);
}